{% extends "base.html" %}
{% block content %}
<section class="scrollable-container">
    <table>
        {% for review in reviews %}
        <thead>
          <tr>
            <th>User</th>
            <th>
                {{ review.Game }}
            </th>
          </tr>
        </thead>
        <tbody>
            <tr>
            {% set loop_color = loop.cycle('#212529', '#fff') %}
            {% set text_color = loop.cycle('#fff', '#212529') %}
                <tr style="background-color: {{ loop_color }}; color: {{ text_color }}">
                    <td>
                        User: 
                    </td>
                    <td>
                        {{ review.Username }}
                    </td>
                </tr>
                <tr style="background-color: {{ loop_color }}; color: {{ text_color }}">
                    <td>
                        Date: 
                    </td>
                    <td>
                        {{ review.Date }}
                    </td>
                </tr>
        <!--         <tr style="background-color: {{ loop_color }}">
                    <td>
                        Upvotes: 
                    </td>
                    <td>
                        {{ review.Upvotes }}
                    </td>
                </tr>  -->
                <tr style="background-color: {{ loop_color }}; color: {{ text_color }}">
                    <td>
                        Rating (1-5): 
                    </td>
                    <td>
                        {{ review.Rating }}
                    </td>
                </tr>
                <tr style="background-color: {{ loop_color }}; color: {{ text_color }}">
                    <td>
                        Review: 
                    </td>
                    <td>
                        {{ review.Summary }}
                    </td>
                </tr>
            </tr>
        </tbody>
        {% endfor %}
      </table>
</section>
{% endblock %}